name: Format Check (CSharp)

on:
  workflow_call:

jobs:
  format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.ref }}
          sparse-checkout: unity
          sparse-checkout-cone-mode: false

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Install CSharpier
        run: dotnet tool install -g csharpier

      - name: Check CSharp Formatting
        run: csharpier check unity/Assets/QuestNav/